{% extends 'base.html' %}
{% block title %}Contact{% endblock title %}
{% block body %}
<div class="container-fluid  px-0">
        
   
<img src="https://source.unsplash.com/random/1920x1080/?contact" class="d-block w-100" alt="..." height="400" width="500 >

</div>

<div class="container my-3">
    <h2 class="my-2 text-center">ENTER INITIALS</h2>

</div>

<div class="container text-center my-4" >
	<form method="post" action="/contact">
		{% csrf_token %}
		<div class="mb-3">
			<label for="name" class="form-label">Name</label>
			<input type="text" class="form-control" id="name" name="name">
			
		  </div>
		<div class="mb-3">
		  <label for="email" class="form-label">Email address</label>
		  <input type="email" class="form-control" id="email" name="email" >

		</div>
		<div class="mb-3">
		  <label for="phone" class="form-label">Phone</label>
		  <input type="text" class="form-control" id="phone" name="phone" >
		  
		  
		</div>
		<div class="mb-3">
		  <label for="desc" class="form-label">enter your quary here</label>
		  <input type="text" class="form-control" id="desc" name="desc"> 
		</div>
		
		<button type="submit" class="btn btn-primary">Submit</button>
	  </form>
</body>
</html>
</div>

{% endblock body %}
